/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --main-font-size: 18px;
  --accent-font: "PressStart2P";
  --accent-font-size: 14px;

  --main-color: #000;
  --secondary-color: #fff;
  --background-main-color: #d3d3d3;
  --linear-gradient-light-color: #e7e7e7;
  --linear-gradient-dark-color: #1a1a1a;

  --heart-fill: #f00;
}
